[submodule "DirectX12Engine/Submodule/DirectXHelpContent"]
	path = DirectX12Engine/Submodule/DirectXHelpContent
	url = https://github.com/Microsoft/DirectX-Graphics-Samples.git
[submodule "DirectX12Engine/Submodule"]
	path = DirectX12Engine/Submodule
	url = https://github.com/Microsoft/DirectX-Graphics-Samples.git
